player-connection-mode=Listen
player-connection-guid=4098995891
player-connection-debug=0
player-connection-project-name=UnityEnvironment
player-connection-ip=10.252.33.171
player-connection-ip=192.168.28.204
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=f629a2c4bf2b404b93c6ea9e33ca482b
