player-connection-mode=Listen
player-connection-guid=4098995891
player-connection-debug=0
player-connection-project-name=UnityEnvironment
player-connection-ip=10.252.33.171
player-connection-ip=192.168.28.204
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=ee6e639a7f234131947b44b9a85559e0
